body
{
    padding: auto;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

header
{
    height: 40px;
    padding-top: 10px;
}

.searchBox 
{
    margin-left: 26%;
    position: absolute;
}

.searchBox button
{
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-radius: 200px;
    background: transparent;
}

.searchBox input[type=text]
{
    width: 60%;
    border: none;
    padding: 8px;
    transition: .5s;
    outline: none;   
}

.searchBox input[type=text]
{
    padding-left: 10px;
}

.searchBox
{
    position: relative;
}

.searchBox i
{
    color: rgb(226, 226, 226);
}

::placeholder
{
    color: rgb(190, 190, 190);
}

.imageProfile
{
    height: 200px;
    width: 80%;
    padding-top: 5px;
    margin-left: 10%;
    background-image: url(background.jpeg);
    border: none;

}

.imageProfile1 img
{
    height: 90px;
    width: 90px;
    margin-top: 13%;
    margin-left: 5%;
    background: rgb(27, 25, 25);
    border: none;
    border-radius: 200px;
    position: relative;
    overflow: hidden;
}

 .imageProfile1 p button
{
    height: 30px;
    width: 30px;
    position: relative;
    border: none;
    border-radius: 200px;
    outline: none;
    bottom: 50px;
    left: 130px;
}

.imageProfile1 button
{
    height: 30px;
    width: 30px;
    position: relative;
    border: none;
    border-radius: 200px;
    outline: none;
    bottom: 169px;
    left: 96%;
}

button:hover
{
    background-color: rgb(194, 194, 194);
    transition: .3s;
    cursor: pointer;
}

.container
{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    margin-left: 25%;
    margin-top: 35px;
}

.container .title
{
    font-size: 16px;
    font-weight: 550;
    position: relative;
}

.container .title::before
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: rgb(158, 158, 158);
}

.container form .userInfo
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .userInfo .inputBox
{
    margin: 20px 0 10px 0;
    margin-bottom: 5px;
    width: calc(100% / 2 - 20px);
}

form .userInfo .inputBox .info
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(43, 152, 255);
    font-size: 13px;
}

/* form .userInfo .inputBox.success input
{
    border-color: #2ecc71;
}

form .userInfo .inputBox.success input
{
    border-color: #e74c3c;
} */

.userInfo .inputBox input
{
    outline: none;
    height: 30px;
    width: 90%;
    padding-left: 0;
    font-size: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    color: #aaa;
}

.userInfo .inputBox input:focus, .userInfo .inputBox input:valid
{
    color: black;
}

form .button
{
    height: 45px;
    margin: 45px 0;
}

form .button input
{
    height: 100%;
    width: 500%;
    outline: none;
    color-adjust: rgb(189, 189, 189);
    color: deepskyblue;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-left: 130%;
}

form .button input:hover
{
    background:rgb(207, 207, 207);
    cursor: pointer;
}

footer
{
    padding-left: 47%;
    padding-top: 10px;
    background-color: rgb(230, 230, 230);
    height: 30px;
}

@media (max-width: 584px)
{
    .container
    {
        max-width: 100%;
    }

    form .userInfo .inputBox
    {
        margin: 20px 0 10px 0;
        margin-bottom: 5px;
        width: 100px;
    }

    .container form .userInfo
    {
       width: 100%;
       max-height: 300px;
       overflow-y: scroll;
    }

    .userInfo::-webkit-scrollbar
    {
        width: 10px;
    }

    .imageProfile
    {
        width: 100%;
        max-height: 300px;
    }

    .imageProfile1 button
    {
        width: 100%;
    }

    .imageProfile
    {
        width: 100px;
    }

    .searchBox
    {
        width: 100%;
    }

    button
    {
        max-width: 100%;
        max-height: 100%;
    }

    .searchBox, .imageProfile, .imageProfile1 button
    {
        max-width: 100%;
        max-height: 100%;
    }

}