body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

header
{
    padding-top: 10px;
    height: 40px;
    background: white;
    box-shadow: 0 0 1px rgb(70, 70, 70);
}

.searchBox 
{
    margin-left: 20%;
    position: absolute;
}

.searchBox button 
{
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-radius: 200px;
    background: transparent;
}

.searchBox input[type=text]
{
    width: 90%;
    border: none;
    padding: 8px;
    transition: .5s;
    outline: none;   
} 

.searchBox input[type=text]
{
    padding-left: 10px;
}

.searchBox
{
    position: relative;
}

.searchBox i
{
    color: rgb(190, 190, 190);
}

button:hover
{
    background-color: rgb(214, 214, 214);
    transition: .3s;
    cursor: pointer;
}

::placeholder
{
    color: rgb(190, 190, 190);
}

.addInst #icon
{
    border: none;
    outline: none;
    padding: 15px;
    color: rgb(190, 190, 190);
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background: transparent;
}

.addInst
{
    float: right;
}

.addIn
{
    margin-top: 25px;
    margin-left: 400px;
    height: 45px;
    width: 150px;
    border-radius: 5px;
    background: deepskyblue;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 11px;
    font-weight: 900;
    color: white;
    transform: .2s;
}

.addIn:hover
{
    background-color: #00abdf;
}

aside
{
    height: 800px;
    width: 250px;
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 0;
    bottom: 50px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 3px rgb(0, 0, 0);
}

#sidebar .imageProfile1 img
{
    height: 60px;
    width: 60px;
    margin-top: 5%;
    margin-left: 1%;
    border: none;
    border-radius: 200px;
    position: relative;
    overflow: hidden;
    background: rgb(27, 25, 25);
}

#sidebar .imageProfile1
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

#sideList .current a
{
	color:deepskyblue;
	font-weight:bold;
}

#sideList 
{
    padding-inline-start: 0;
    padding-top: 20px;
    padding-inline-end: 8%;
}

li
{
    margin-left: 20px;
}

#sideList a
{
    color: #c0c0c0;
}

#sideList a:hover
{
    color:#a7a7a7;
	font-weight:bold;
}

#sideList li
{
    display:list-item;
	padding: 10px 0 10px 0;
}

#sideList a
{
    margin-top: 10%;
    text-decoration: none;
    margin-right: 0%;
}

#sideList i
{
    padding-right: 20px;
}


#sideList #toggle
{
    margin-top: 290px;
    color: rgb(190, 190, 190);
}

#sideList #toggle:hover
{
    color:#a7a7a7;
	font-weight:bold;
}

hr
{
    margin-block-start: 0;
    margin-inline-start: 0;
    width: 250px;
}

span
{
    font-size: 18px;
    margin-top: 10%;
}

span span
{
    font-size: 12px;

}

#sidebar .sideList #sideList{
    list-style-type: none;
    top: 10%;
}

#sidebar .title
{
    font-size: 30px;
    font:bold;
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    position: relative;
}

#sidebar .title a
{
    color: rgb(7, 7, 7);
}

#sidebar .title::before
{
    content: '';
    position: absolute;
    top: 12px;
    height: 6px;
    width: 29px;
    background: rgb(202, 74, 0);
}

#sidebar .imageProfile1 b .role1
{
    font-weight: 100;
    color: #aaa;
}

.sideToggle 
{
    /* display: none; */
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
}

.infoBox
{
    width: auto;
    height: auto;
    background: #fff;
    padding: 25px 30px;
    margin-left: 17%;
    bottom: 700px;
    border-radius: 1px;
    box-shadow: 0 0 2px rgb(196, 196, 196);
    position: relative;
}

table.dataTable
{
    width:100%;
    margin: auto;
    clear:both;
    border-collapse:separate;
    border-spacing:0;
}

table.dataTable thead th, table.dataTable tfoot th
{
    font-weight: 400;
}

table.dataTable thead th,table.dataTable thead td
{
    padding:10px 18px;
    border-bottom:1px solid rgb(153, 153, 153);
}

table.dataTable tfoot th,table.dataTable tfoot td
{
    padding:10px 18px 6px 18px;
    border-top:1px solid rgb(184, 184, 184)
}


table.dataTable thead th:active,table.dataTable thead td:active
{
    outline:none;
}

table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc
{
    cursor:pointer;
    cursor:hand;
}

footer
{
    margin: 0;
    padding-left: 47%;
    padding-top: 10px;
    background-color: white;
    height: 30px;
    position: relative;
    box-shadow: 0 0 .5px rgb(0, 0, 0);
}